
    body, html{
        height: 100%;
        margin:0;
        background-color: black;
        
    }

    main{

    }
    ::selection{
        background: #d71e28;
        color:#000;
    }
    nav{     
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        position: fixed;
        top:0;
        padding-bottom: 25%;   
        z-index: 9999; 
    }

    a:link {
        color: red;
      }
    
      a:hover{
          color: tomato;
      }
    
    a{
        text-decoration: none;
        color: white;
    }
    
    .buy{
        color: white;
        font-family: 'Montserrat', sans-serif;
        margin-left: 20px;
    }

    .logo{
        margin: 10px 130px 10px 10px;
    }
    
    h1{
        font-size:100%;
    }
    .faq{
        color: white;
        font-family: 'Helvetica', sans-serif;
        margin-right: 20px;
    }
.h2{
    font-size: 100%;
}

    .container{
        position: relative;
        height: 150%;
    }

    .rotate{
        font-size: 250px;
        font-family: "Times New Roman", Times, serif;
        color: white;
        transform: rotate(-90deg); 
        justify-content: center;
    
/*neue-haas-grotesk-display,'Helvetica' ,sans-serif*/
    }
    
    
    .first-car{  
        background-image: url("../img/firstCar.jpeg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
        top: 100%;
        left: 0;
        right: 0;
        
        position: relative;
    }

    .second-car{  
        background-image: url("../img/secondCar.jpeg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        top: 0;
        left: 100%; 
        bottom: 0;
        position:relative;
    }

    .trio-text{
        color: white;
        display: flex;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 7em;
        
    }
    
    
    .wrapper {
        position: relative;
        display: flex;
        justify-content: space-around;
        height: 100%;
        margin-top: 10%;
          
    }
    
    .one{
        position: relative;
        display: flex;
        border-radius: 25px;
        width:33.33%;
        height: 75%;
        background-color: white;  
        margin: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    

    .one:nth-of-type(2n){
        position: relative;
        display: flex;
        border-radius: 25px;
        width:33.33%;
        background-color: white;  
        margin: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        bottom: 20%;
    }



      .small-Grid{
          display: flex;
          justify-content: space-evenly;
          height: 200%;
          /*transform: rotate(-10deg); */
          width: 100%;
          
      }

    .first-grid-column{
        display: flex;
        flex-direction: column;
        height: 200%;
        justify-content: space-around;
        width: 33%;
        
    }

    .space-1{
        border-radius: 25px;
        background-color: red;
        margin-bottom: 30px;
        height: 70%;
        width: 100%;
    }
    .video{
        position: relative;
        min-width: 100%;
        min-height: 100%;
          
    }
    
    
      
      

