
    body, html{
        height: 100%;
        margin:0;
        background-color: black;
        
    }

    main{

    }
    ::selection{
        background: #d71e28;
        color:#000;
    }
    nav{     
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        position: fixed;
        top:0;
        padding-bottom: 25%;   
        z-index: 9999; 
    }

    
    
    .buy{
        color: white;
        font-family: 'Montserrat', sans-serif;
        margin-left: 20px;
    }

    .logo{
        margin: 10px 130px 10px 10px;
    }
    
    .faq{
        color: white;
        font-family: 'Helvetica', sans-serif;
        margin-right: 20px;
    }

    .firstSpace{
        
        
        
    }

    .rotate{
        font-size: 250px;
        font-family: "Times New Roman", Times, serif;
        color: white;
        transform: rotate(-90deg); 
        justify-content: center;
/*neue-haas-grotesk-display,'Helvetica' ,sans-serif*/
    }
    
    
    .mainCar{  
        background-image: url("../img/kanyeMain.jpeg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
       
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: relative;
    }

    .handWatch{  
        background-image: url("../img/Bugatti-Smartwatches.jpeg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        position:absolute;
    }
    

    .firstSpace{
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .trio-text{
        color: white;
        display: flex;
        height: 100%;
        
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 7em;
        
    }
    
    .wrapper {
        
        display: flex;
        justify-content: space-around;
        height: 75%;
        
       
        
    }
    .one{
        display: flex;
        border-radius: 25px;
        width:33.33%;
        background-color: white;  
        margin: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .two{
        width:33.33%;
        border-radius: 25px;
        background-color: red;
        margin: 30px;
        
    }
    .three{
        
        width:33.33%;
        background-color: white;
        border-radius: 25px;
        margin: 30px;
      }

      .test{
          height: 100%;
      }

      .small-Grid{
          display: flex;
          justify-content: space-evenly;
          height: 200%;
          /*transform: rotate(-10deg); */
          width: 100%;
          
      }

    .first-grid-column{
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        width: 14%;
        
    }

    .space-1{
        border-radius: 25px;
        background-color: red;
        margin-bottom: 10px;
        height: 50%;
        width: 100%;
    }
    
    
      
      

