
   *{
    font-family: "Times New Roman", Times, serif;
   }

   body, html{
        height: 100%;
        margin:0;
        scroll-behavior: smooth;
        background-color: black;
        overflow: hidden;
        position: relative;
        
    }

    main{

    }
    ::selection{
        background: #d71e28;
        color:#000;
    }
    nav{     
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width:100%;
        position: fixed;
        top:0;
        padding-bottom: 25%;   
        z-index: 9999; 
    }

    a:link {
        color: red;
      }
    
      a:hover{
          color: tomato;
      }
    
    a{
        text-decoration: none;
        color: white;
    }
    
    .buy{
        color: white;
        margin-left: 20px;
    }

    .logo{
        margin-right: 3.5%;
    }
    
    h1{
        font-size: 700%;
    }

    .apiSkip{
        color: white;
        margin-right: 20px;
    }
 
    .apiSkip:hover{
        color: #d71e28;
        cursor: pointer;
    }

    h2{
        font-size: 100%;
        color:white;
        z-index: 32;
    }   

    .container{
        position: absolute;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        top: 10%;
        left: 0%;
    }

    .rotate{
        position: absolute;
        color: white;
        transform: rotate(-90deg);
        font-size: 200%; 
      
        
    }
    .scroll-container{
        position: relative; 
    }
    
    
    
    .first-car{  
        background-image: url("../img/firstCar.jpeg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        top: 100%;
        left: 0%;
        width: 100vw;
        border-radius: 40% 40% 0 0;
        position: absolute;
    }

    .second-car{  
        background-image: url("../img/secondCar.jpeg");
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        top: 0;
        left: 100%; 
        
        position:absolute;
    }

    .trio-text{
        color: white;
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        font-size: 7em;
        position: relative;
        
    }

    .trio1{
        position: absolute;
        top: 30%;
        white-space: nowrap;
    }
    .trio2{
        position: absolute;
        white-space: nowrap;

    }
    .trio3{
        position: absolute;
        bottom: 30%;
        white-space: nowrap;
    }
    
    .more-images{
        position: relative;
        height: 10vh;
        width: 100vw;
        background-color: #d71e28;
        display:flex;
        align-items: center;
        justify-content: center;
       
    
    }
    
    .wrapper-api{
        position: relative;
        display: flex;
        justify-content: space-around;
        height: 100vh;
        margin-top: 10%;
        
          
    }
    
    /**/
    .one{
        position: relative;
        display: flex;
        border-radius: 25px;
        width:33.33vw;
        height: 75vh;
        background-color: white;  
        margin: 30px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 100%;
    }
   

    .one:nth-of-type(odd){
        top: 20%;
    }

      .small-Grid{
          margin-top: 10%;
          position: relative;
          display: flex;
          justify-content: space-evenly;
          height: 200vh;
          transform: rotate(-10deg); 
          width: 100vw;
      }

    .first-grid-column{
        display: flex;
        flex-direction: column;
        height: 50%;
        justify-content: space-around;
        width: 33%;
        
    }

    .grid-section{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 25px;
        background-color: white;
        margin-bottom: 2%;
        height: 100%;
        width: 50%;
    }

    .grid-section img{
        height: 30%;
        width: 30%;
    }
    .outer{
        position: relative;
        width:100vw;
        height:100vh;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        color: white;
        
    }
    

    .video-container{
        position: relative;
        height: 100%;
        width: 100%;
    }

    video{
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
        

    }
    
    .video-text{
        position: absolute;
        text-transform: uppercase;
        font-size: 10em;
        letter-spacing: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, #000, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 3s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
    @keyframes animate {
        0% {
          background-position: -500%;
        }
        100% {
          background-position: 500%;
        }
      }
    
    .testing{
        height: 70%;
        width: 70%;
        border-radius: 2%;
    }




    .grid-container{
        display:grid;
        position: relative;
        height: 300vh;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr ;
       
        
        
    }
    .item{
        display: flex;
        background: linear-gradient(#7D7C7B, #000);
        border-radius: 25px;
        margin: 2%;
        height: 90%;
        align-items: center;
        justify-content: center;
        
    }

    .item img{
        border-radius: 25px;
        height: 100%;
        width: 100%;
    }
    .item h2{
        font-size: 400%;
    }
    





    .buttonContainer{
        position: relative;
        width: 100vw;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-self: center;
        
    }
    .button{
        position: relative;
        background-color: #d71e28;
        border: none;
        text-decoration: none;
        border-radius: 70px;
        width: 70%;
        height: 80%; 
        
    }

    .button:hover{
        background-color: white;
    }

    footer{
        position: relative;
        background-color: tomato;
        color: white;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .grid-section img{
        width: 80%;
        height: 80%;
    }
    
    
      
      

