
*{
font-family: "Times New Roman", Times, serif;
}

body, html{
    height: 100%;
    margin:0;
    scroll-behavior: smooth;
    background-color: black;
    overflow: hidden;
    position: relative;
}

::selection{
    background: #d71e28;
    color:#000;
}

/**styles for multiple classes with the same characteristics*/
.full{
    height: 100vh;
    width: 100vw;
}
a:hover {
    color:black;
}

a{
    text-decoration: none;
    color: white;
}

.flexCenter{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 700%;
}

h2{
    font-size: 100%;
    color:white;
    z-index: 32;
}   

/**Navbar section, fixed seethrough navbar with text that when clicked skips to content*/
nav{     
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    position: fixed;
    top:0;  
    z-index: 9999; 
}

.videoSkip{
    color: white;
    margin-right: 20px;
}

.videoSkip:hover{
    color: #d71e28;
    cursor: pointer;
}

.apiSkip{
    color: white;
    margin-left: 20px;
}

.apiSkip:hover{
    color: #d71e28;
    cursor: pointer;
}

/**Opening text which is rotated*/
.container{
    position: absolute;
    flex-direction:column;
    top: 10%;
    left: 0%;
}

.rotate{
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    font-size: 200%;  
}

/**first and second cars which come on to the screen*/
.first-car{  
    background-image: url("../img/firstCar.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    top: 100%;
    left: 0%;
    border-radius: 40% 40% 0 0;
    position: absolute;
}

.second-car{  
    background-image: url("../img/secondCar.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 100%; 
    position:absolute;
}

/**Three lines of text which scroll onto screen from sides*/
.trio-text{
    color: white;
    font-size: 7em;
    position: relative;
}

.trio{
    position: absolute;
    white-space: nowrap;
}

.trio1{
    top: 30%;
}

.trio3{
    bottom: 30%;
}

/**Container for the rest of the pages content*/
.scroll-container{
    position: relative; 
}

/**API styling */
.wrapper-api{
    position: relative;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    margin-top: 10%;    
}

.one{
    position: relative;
    border-radius: 25px;
    width:33.33vw;
    height: 75vh;
    background-color: white;  
    margin: 30px;
    flex-direction: column;
    font-size: 100%;
}

.one:nth-of-type(odd){
    top: 20%;
}

.more-images{
    position: relative;
    height: 10vh;
    width: 100vw;
    background-color: #d71e28;
}

.indivAPI{
    height: 70%;
    width: 70%;
    border-radius: 2%;
}

/**Sets up the grid on an angle*/
.small-Grid{
    margin-top: 10%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 200vh;
    transform: rotate(-10deg); 
    width: 150vw;
    right:10%;
    top: 10%;
    overflow: hidden;
}

/** grid cloumns*/
.first-grid-column{
    display: flex;
    flex-direction: column;
    height: 150%;
    justify-content: space-around;
    width: 60%;
    margin: 0.5%;
}

/** individual grid sections*/
.grid-section{
    border-radius: 25px;
    background-color: white;
    margin: 2%;
    height: 100%;
    width: 100%;
}

.grid-section img{
    height: 60%;
    width: 60%;
}

/**container for the video and text*/
.outer{
    position: relative;
    flex-direction:column;
    color: white;
}

.video-container{
    position: relative;
    height: 100%;
    width: 100%;
}

video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}
/**text ontop of video with styling and animation effect*/
.video-text{
    position: absolute;
    text-transform: uppercase;
    font-size: 10em;
    letter-spacing: 4px;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #fff, #000);
    background-repeat: no-repeat;
    background-size: 80%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}
/**animation*/
@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}

/**2by3 grid with a photo and website of that brand*/
.grid-container{
    display:grid;
    position: relative;
    height: 300vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr ;
}
/**individual square with picture and text button*/
.item{
    background: linear-gradient(#7D7C7B, #000);
    border-radius: 25px;
    margin: 2%;
    height: 90%;
}

.item img{
    border-radius: 25px;
    height: 100%;
    width: 100%;
}
.item h2{
    font-size: 400%;
    will-change: transform;
    transition: transform 450ms;
}

.item h2:hover{
    transition: transform 125ms;
    transform: translateY(-10px);
    text-decoration: underline;
}

/**back to top button*/
.buttonContainer{
    position: relative;
    width: 100vw;
    height: 20vh;
}

.button{
    position: relative;
    background-color: #d71e28;
    color: #fff;
    border: none;
    text-decoration: none;
    font-size: 7em;
    border-radius: 70px;
    width: 70%;
    height: 80%; 
}

.button:hover{
    background-color: white;
    color: black;
}

/**footer styling*/
footer{
    position: relative;
    background-color:#d71e28;
    color: white;
    height: 40vh;
}



@media screen and (max-width: 600px) {
    .container{
        position: relative;
    }

    .first-car{
        background-image: url("../img/firstCar.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: auto!important;
        left: auto!important;
        border-radius: 0!important;
        position: relative;
    }

    .second-car{
        background-image: url("../img/secondCar.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: auto!important;
        left: auto!important; 
        position:relative;
    }

    body, html{
       overflow: scroll; 
    }
    
    .wrapper-api{
        position: relative;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 50vw;

    }
    
    .one{
        position: relative;
        border-radius: 25px;
        width:100%;
        height: 75%;
        background-color: white;  
        flex-direction: column;
        font-size: 100%;
    }
    
    .one:nth-of-type(odd){
        top: 0;
    }

    .outer{
        position: relative;
        flex-direction:column;
        color: white;
    }
    
    .video-container{
        position: relative;
        height: 50vh;
        width: 100%;
    }
    
    video{
        height: 100%;
        width: 100%;
        position: absolute;
        object-fit: cover;
    }
    /**text ontop of video with styling and animation effect*/
    .video-text{
        position: absolute;
        text-transform: uppercase;
        font-size: 100px;
        letter-spacing: 4px;
        overflow: hidden;
        background: linear-gradient(90deg, #000, #fff, #000);
        background-repeat: no-repeat;
        background-size: 80%;
        animation: animate 3s linear infinite;
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0);
    }
    .item{
        background: linear-gradient(#7D7C7B, #000);
        border-radius: 25px;
        margin: 2%;
        height: 75%;
    }
    .grid-container{
        display:grid;
        position: relative;
        height: 200vh;
    }

    .trio-text{
        color: white;
        font-size: 50px;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    .trio{
        position: relative;
        white-space: nowrap;
    }
    
    .trio1{
        top: 0%;
        right: 0!important;

    }
    
    .trio3{
        bottom: 0%;
        right:0!important;
    }

    .trio2{
        left: 0!important;
    }



}
    
    
      
      

